
/*FORMATAÇÃO DOS TEXTOS NO CSS*/
h1{
    color: aqua;
    font-size: 64px;
    font-family: 'roboto', sans-serif; 
    font-weight: 500;
    font-weight: bolder;
    text-shadow: 10px 10px 5px firebrick; 
}

p{
    font-size: 32px;
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-weight: lighter;
    font-style: italic;
    letter-spacing: 10px;
    word-spacing: normal;
    text-transform: capitalize;
    text-shadow: 10px 10px 5px firebrick; 
    
}
 

/*
FONTS
    -font-family: 'roboto', sans-serif; - Roboto Importada google fonts ; sans-serif é backup caso a primeira não funciona.
    -font-weight: 100; - altera de acordo a expessura da font
    font-weight: bolder; - deixa a font em negrito
    -font-weight: lighter; - deixa a font bem fininha.
    -font-style: italic; - deixa a fonte italica
    -line-height: 500px; - epaçamento entre linhas
    -letter-spac    ing: 50px; - espaçamento entre as letras
    -word-spacing: normal;-espçamento entre as palavras
    -text-align:center ; define a posição do texto na tela.  center-centro; right-lado direto; justify- justifica o texto
    -text-transform: uppercase- deixa o texto todo maiusculo; lowercase- deixa todo minusculo; capitalize-deixa todas letras iniciais das palavras maisuculo;
    -text-decoration: underline-deixa todo texto sublinhado; overline-coloca uma linha sobre todo texto
    -text-shadow: 10px 10px 10px 10px;- coloca sombra no texto
*/

/*
PADDING
    O Que faz? Expande a caixa de dentro para fora, alonga o espaço em que está, pode ser aplicados em todos os lados. acima- high/ abaixo-low/ esquerda-left/ direita right

BOX-SIZING
    Border define o estilo da borda; Borda tracejada = dashed, para Borda inteira= Solid = cor definida a gosto do dev
    Define o tamanho da caixa vai ficar 
    com BORDER_BOX deixa a caixa em tamanho fixo e tudo que for colocado fica dentro da limiação etabelecida
    com CONTENT_BOX o tamanho da caixa fica fixa porém tudo que for adcionado soma no tamanho final
    Obs sempre manter o BORDER-BOX como padrão

DISPLAY

    BLOCK 
        Vem como padrão: div, section, p, h1, h2, li, ul, article...

        -Ocupa 100% da largura do elemento pai
        -Sempre ocupa toda sua linha
        -Altura definida de acordo com o conteúdo 
        -Podemos definir height e wigth
        -Podemos definir valores de margin

    INLINE 
        Vem como padrão: a, span, b, i..

        -Elementos em linha 
        -Não permite alterar valor de height e width
        -Não pode definir valor de margin
        -Ganha comportamento de uma palavra
    INLINE-BOX
 
  




