*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 200vh;
    height: 200vw;
}

.dad{
    width: 200px;
    height: 200px;
    background: black;
    color: red;
    display: inline-block;
    

}
.son{
    width: 100px;
    height: 100px;
    background: blue;
    position: relative;
    top: 50px;
    left: 50px;
}
.teste{
    width: 100px;
    height: 100px;
    background: pink;
    position: fixed;
    top: 50px;
    left: 380px;
    
}